<?xml version='1.0' encoding='utf-8'?>
<widget id="io.ucupaw.cerdascermat" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Cerdas Cermat Game</name>
    <description>
       A multiplayer Cerdas Cermat game
    </description>
    <author email="ucupper@gmail.com" href="http://github.com/yusufaw">
        Yusuf Aji Wibowo
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
